<style>
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #ffb84d;
}
.similar_products{
  height:300px;
  width:230px;
  float:left;
  margin:20px;
  text-align:center;
}

.similar_product_text_div{
  width:100%;  
  text-align:center;
  text-decoration:none;
  padding-top:5px;
}

a:hover{
  text-decoration:none;
}
.similar_product_img_div{
   width:100%;  
}
  
.similar_product_img{
  width:100%;
  height:270px;
}

.tag_main{
  height: 24px;
  float: left;
  border-radius: 33px;
  background: #ffb84d;
  margin-left: 25px;
  margin-top:15px;
  padding: 10px 20px 27px 20px;
}

.artist_description_main{
  text-align:center;
  font-weight: bolder;
  padding-bottom:5em;
}

.artist_description_main i{
  color:#f7b02e;  
}
#product_description_bar li:hover{
	cursor:pointer;
}  
</style>
{% if collection %}
<div class="next-prev-product text-right">
  {% if collection.previous_product %}
  <a class="prev" href="{{collection.previous_product}}" title="{{ 'products.general.previous_product' | t }}"><i class="fa fa-angle-left"></i></a>
  {% endif %}

  {% if collection.next_product %}
  <a class="next" href="{{collection.next_product}}" title="{{ 'products.general.next_product' | t }}"><i class="fa fa-angle-right"></i></a>
  {% endif %}
</div>
{% endif %}

<div class="row{% if settings.sidebar_product_page == 'none' %} page-product-full{% endif %}">
  {% if settings.sidebar_product_page == 'left' %}
  <div id="sidebar" class="sidebar col-sm-3 clearfix hidden-xs">
    {% include 'sidebar-product' %}
  </div>
  {% endif %}

  <div id="col-main" class="page-product{% if settings.sidebar_product_page != 'none' %} col-sm-9{% else %} col-sm-12{% endif %}">
    <div itemscope itemtype="http://schema.org/Product" class="product">
      <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
      
      <form action="/cart/add" method="post" class="product-action variants" enctype="multipart/form-data">
      <div class="row">

        <div id="product-image" class="col-sm-5 product-image">
          <div class="product-image-inner">
            {% if product.images.size > 0 %} 
            {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
            <a href="{{ featured_image | product_img_url: 'original' }}" class="featured-image{% if settings.show_effect_zoom %} elevatezoom{% endif %}" data-zoom='true'>
              <img itemprop="image" id="product-featured-image" class="zoom-image" src="{{ featured_image | product_img_url: 'grande' }}" data-zoom-image="{{ featured_image | product_img_url: 'original' }}" alt="{{ product.title | escape }}" />
            </a>

            <div class="more-view-image">
              <div id="gallery-image" class="gallery-image-thumb">
                {% for image in product.images %}
                <a class="thumb-img{% if forloop.index == 1 %} active{% endif %}" data-image="{{ image | product_img_url: 'grande' }}" data-zoom-image="{{ image | product_img_url: 'original' }}">
                  <img src="{{ image.src | product_img_url: 'small' }}" alt="{{ product.title | escape }}">
                </a>
                {% endfor %}
              </div>
            </div>
            {% else %}
            <img src="{{ 'default-image.jpg' | asset_url }}" />
            {% endif %}

          </div>
        </div>
        
        <div class="col-sm-7">
          <h4 class="title" itemprop="name" content="{{ product.title }}" style="margin-top: 15px;">{{ product.title }}</h4>
        <div id="product-info" class="col-sm-6 product-info" style="padding-left: 0px;">
          
          {% if settings.show_product_sku %}
          <div class="product-sku" style="display:none;">
            <span style="font:weight:bolder"><h5>{{ 'products.product.sku' | t }}</h5> </span>
            <span id="sku"></span>
          </div>
          {% endif %}

          <div class="detail-deal">{% include 'product-detail-deals' %}</div>
          
          <div class="product-relative" style="font-size:15px;margin-bottom:30px;">
            <div class="product-vendor">
              <span style="font-weight:bolder">{{ 'products.product.vendor' | t }} : </span><span> {{ product.vendor }}</span>
            </div>
            <div class="product-type">
              <span style="font-weight:bolder">{{ 'products.product.type' | t }} : </span><span>{{ product.type }}</span>
            </div>
          </div>

          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
          
          <h5>Price</h5>
          <div id="purchase-{{ product.id }}" class="product-price" class="product-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    
            
            <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
            <div class="detail-price" itemprop="price" content="{{product.price |  money_without_currency}}">
              {{ product.price | money }}
            </div>
            
            {% if product.available %}
            <link itemprop="availability" href="http://schema.org/InStock" />
            {% else %}
            <link itemprop="availability" href="http://schema.org/OutOfStock" />
            {% endif %}
            
          </div>
          
{% comment %}

          <div itemprop="description" class="product-description">
            <p>{{ product.content | strip_html | truncatewords: 36 }}</p>
          </div>
{% endcomment %}
          
          
          {% if product.available %}

          {% assign hide_default_title = false %}
          {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
          {% assign hide_default_title = true %}
          {% endif %}

          
            <div id="product-action-{{ product.id }}"  class="options">  

              {% if settings.show_swatches_color %}
              {% if product.available and product.variants.size > 1 %}
              {% include 'swatch' with 'Size' %}
              {% endif %}
              {% endif %}

              {% if settings.show_swatches_sizer %}
              {% if product.available and product.variants.size > 1 %}
              {% include 'swatch' with 'Color' %}
              {% endif %}
              {% endif %}

             <div class="variants-wrapper clearfix" style="margin-top:30px;" hidden> 
              
                <select id="product-select-{{ product.id }}" name="id">
                  {% for variant in product.variants %}
                  {% if variant.available %}

                  <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }}</option>

                  {% else %}
                  <option disabled="disabled">
                    {{ variant.title }} - {{'products.product.sold_out' | t }}
                  </option>
                  {% endif %}
                  {% endfor %}
                </select>
              </div>    

             <div class="quantity-product" style="margin-top:10px;">
               <div>
                 <h5>{{'products.product.quantity' | t }}</h5>
               </div>
               <div>
                <div class="quantity">
                  <input type="text" id="quantity" class="item-quantity" name="quantity" value="1" />
                   <span class="qty-wrapper">
                    <span class="qty-inner">

                      <span class="qty-up" title="Increase" data-src="#quantity">
                        <i class="fa fa-plus"></i>
                      </span>

                      <span class="qty-down" title="Decrease" data-src="#quantity">
                        <i class="fa fa-minus"></i>
                      </span>

                    </span>
                   </span>
                  </div>
                </div>
              </div>
                
                {% if settings.show_qty_in_stock %}
                <div class="qty-stock" style="display:none;">
                  <span id="stock"></span>
                </div>
                {% endif %}
              <div id="customized_product_div"></div>
              
              </div>

<!-- Aditya  -->
          
          {% if shop.customer_accounts_optional and settings.wishlist_page %}
          {% include 'wishlist-product' %}
          {% endif %}

          {% else %}
          <meta itemprop="price" content="{{ product.price | money }}" />

          <div id="product-action" class="sold-out">
            <span class="price">{{'products.product.sold_out' | t }}</span>      
          </div>  

          {% endif %} <!--endif product.avaiable-->

          {% if settings.sidebar_product_page != 'none' %}
          {% include 'product-tab-style-1' %}
          {% endif %}

        </div>
        
        <style>
          table td{
            position: relative;
            padding: 2px;
            border-bottom:0px;
            text-align:left;
          }
        </style>
        <div class="col-sm-6" style="padding-left:0px;padding-right:0px;">
<!--           <div class="col-sm-12" style="background-color: #eee;font-size: 15px;border: 1px solid #b6b6b6;">
            <div class="row">
              <table>
                <tbody>
                  <tr>
                    <td rowspan="2">
                      <img src="{{'screen_guard.png'|asset_url}}" alt="Screen Guard Icon" style="height:70px;width:70px"/>
                    </td>
                    <td>
                      Rs.<span id="screen_guard_price">199</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                       <input type="checkbox" style="transform:scale(1.5,1.5)" /><span>Buy Tempered Glass Screen Guard</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div> -->
          <div class="col-sm-12" style="background-color:#f7f7f7;font-size: 15px;border: 1px solid #b6b6b6;margin-top:10px;color:#f7b02e;box-shadow: 8px 5px 16px 0px #ddd;margin-bottom:20px;">
             <div class="row" style="margin-top:40px;margin-bottom:20px;">
                <div class="action-button col-xs-12">
                  <button id="add-to-cart" class="add-to-cart btn-1" type="button" style="width:100%;background:#f7b02e;">{{ 'products.product.add_to_cart' | t }}</button>
                </div>
                <div class="action-button col-xs-12">
                  <a href="https://checkout.shopify.com/"> <button  class="btn-1" style="width:100%;background:#f7b02e;margin-top:10px;">BUY NOW!</button></a>
                </div>
            </div>
            <div class="row">
              <div class="col-sm-12" style="color:#f7b02e">
                <span class="fa fa-refresh" style="font-size:30px;margin-right:16px;margin-left:8px;"></span>
                <span style="position:absolute;bottom: 7px;">Full money back returns for 30 days</span>
              </div>
              <div class="col-sm-12" style="color:#f7b02e;margin-top: 5px;">
                <span class="fa fa-tags" style="font-size:30px;margin-right:10px;margin-left:8px;"></span>
                <span style="position:absolute;bottom: 7px;">One Year replacement warranty</span>
              </div>
            </div>
            <div class="row" style="margin-top:20px;">	
              <div class="col-sm-12">
                <span class="fa fa-truck" style="font-size:30px;margin-right:10px;margin-left:8px;"></span>
                <span style="position:absolute;bottom: 7px;">Shipping and return</span>
              </div>
              <div class="col-sm-12" style="padding-left: 27px;padding-top: 5px;">
                <ul>
                  <li>Get delivered on or before <span id="delivery_date"></span></li>
                  <li>Easy return within 30days</li>
                </ul>
              </div> 
            </div>
            <div class="row" style="margin-top:20px;margin-bottom:40px;">	
                  {% if settings.show_social_sharing %}
                  {% include 'product-sharing' %}
                  {% endif %}
            </div>
          </div>
        </div>
       </div> 
      </div>
      </form>

      {% if settings.sidebar_product_page != 'none' %}
      {% comment %} -- Related Product -- {% endcomment %}
      {% if settings.show_related_product %}
      {% include 'related-product' %}
      {% endif %}
      {% endif %}

    </div>
  </div>

 

  {% if settings.sidebar_product_page == 'right' %}
  <div id="sidebar" class="sidebar col-sm-3 clearfix hidden-xs">
    {% include 'sidebar-product' %}
  </div>
  {% endif %}
</div>

<div class="row">

 <div class="detail-product-tab style-2">
  <div>
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <ul class="nav navbar-nav" id="product_description_bar">
        <li class="active" id="product_specification"><a>PRODUCT SPECIFICATION</a></li>
        <li id="product_review"><a>PRODUCT REVIEW</a></li>
<!--         <li id="similar_product"><a>SIMILAR DESIGN PRODUCT</a></li> -->
        <li id="artist_description"><a>ARTIST DESCRIPTION</a></li>
        <li id="product_tags"><a>PRODUCT TAGS</a></li>
      </ul>
    </div>
    </nav>
    <div id="product_description_content" class="container-fluid" style="padding-bottom:60px;">
      
    </div>
</div>

{% if settings.product_tab_description %}
        {{ product.content }}
{% endif %}
<!-- <div id="product_specification_content" hidden>
  <div class="col-sm-6">
    <h4>Specifications</h4>
    <table class="table table-striped">
      <tbody>
      <tr>
        <td>Specifications 1</td>
        <td>Details 2</td>
      </tr>
      <tr>
        <td>Specifications 1</td>
        <td>Details 2</td>
      </tr>
      <tr>
        <td>Specifications 1</td>
        <td>Details 2</td>
      </tr>
      <tr>
        <td>Specifications 1</td>
        <td>Details 2</td>
      </tr>
      <tr>
        <td>Specifications 1</td>
        <td>Details 2</td>
      </tr>
      <tr>
        <td>Specifications 1</td>
        <td>Details 2</td>
      </tr>
      <tbody>
    </table>
  </div>
  <div class="col-sm-6">
      <h4>Features</h4>
      <ul>
        <li>Matte finish impact resistant, durable hard plastic printed case.</li>
        <li>Protects your phone from scratches, bumps and drops. Raised lip on the case sides offers the side protection as well.</li>
        <li>High quality printing with no peeling, chipping or wearing off issues.</li>
        <li>Allows easy access to all buttons, controls and ports of your phone.</li>
        <li>Fully customizable back covers, contact us at hi@motivatebox.com for customization.</li>
      </ul>
  </div>
</div>-->
  
<div id="product_review_content">
  <div id='judgeme_product_reviews' class='jdgm-widget jdgm-review-widget' data-product-title='{{ product.title }}' data-id='{{ product.id }}'>{{ product.metafields.judgeme.widget }}</div>
</div>
  
<!--
<div id="similar_product_content" hidden>
  <h4>We also have this products with same skin</h4>
  <div class="col-sm-12">
    <div class="similar_products">
      <a href="#">
        <div class="similar_product_img_div">
          <img src="{{'coaster.jpg'|asset_url}}" class="similar_product_img">
        </div>
        <div class="similar_product_text_div">
          Item Name
        </div>
      </a>
    </div>
    <div class="similar_products">
      <a href="#">
        <div class="similar_product_img_div">
          <img src="{{'coaster.jpg'|asset_url}}" class="similar_product_img">
        </div>
        <div class="similar_product_text_div">
          Item Name
        </div>
      </a>
    </div>
    <div class="similar_products">
      <a href="#">
        <div class="similar_product_img_div">
          <img src="{{'coaster.jpg'|asset_url}}" class="similar_product_img">
        </div>
        <div class="similar_product_text_div">
          Item Name
        </div>
      </a>
    </div>
    <div class="similar_products">
      <a href="#">
        <div class="similar_product_img_div">
          <img src="{{'coaster.jpg'|asset_url}}" class="similar_product_img">
        </div>
        <div class="similar_product_text_div">
          Item Name
        </div>
      </a>
    </div>
    <div class="similar_products">
      <a href="#">
        <div class="similar_product_img_div">
          <img src="{{'coaster.jpg'|asset_url}}" class="similar_product_img">
        </div>
        <div class="similar_product_text_div">
          Item Name
        </div>
      </a>
    </div>
    <div class="similar_products">
      <a href="#">
        <div class="similar_product_img_div">
          <img src="{{'coaster.jpg'|asset_url}}" class="similar_product_img">
        </div>
        <div class="similar_product_text_div">
          Item Name
        </div>
      </a>
    </div>
    <div class="similar_products">
      <a href="#">
        <div class="similar_product_img_div">
          <img src="{{'coaster.jpg'|asset_url}}" class="similar_product_img">
        </div>
        <div class="similar_product_text_div">
          Item Name
        </div>
      </a>
    </div>
    <div class="similar_products">
      <a href="#">
        <div class="similar_product_img_div">
          <img src="{{'coaster.jpg'|asset_url}}" class="similar_product_img">
        </div>
        <div class="similar_product_text_div">
          Item Name
        </div>
      </a>
    </div>
    <div class="similar_products">
      <a href="#">
        <div class="similar_product_img_div">
          <img src="{{'coaster.jpg'|asset_url}}" class="similar_product_img">
        </div>
        <div class="similar_product_text_div">
          Item Name
        </div>
      </a>
    </div>
    <div class="similar_products">
      <a href="#">
        <div class="similar_product_img_div">
          <img src="{{'coaster.jpg'|asset_url}}" class="similar_product_img">
        </div>
        <div class="similar_product_text_div">
          Item Name
        </div>
      </a>
    </div>
    <div class="similar_products">
      <a href="#">
        <div class="similar_product_img_div">
          <img src="{{'coaster.jpg'|asset_url}}" class="similar_product_img">
        </div>
        <div class="similar_product_text_div">
          Item Name
        </div>
      </a>
    </div>
    <div class="similar_products">
      <a href="#">
        <div class="similar_product_img_div">
          <img src="{{'coaster.jpg'|asset_url}}" class="similar_product_img">
        </div>
        <div class="similar_product_text_div">
          Item Name
        </div>
      </a>
    </div>
    <div class="similar_products">
      <a href="#">
        <div class="similar_product_img_div">
          <img src="{{'coaster.jpg'|asset_url}}" class="similar_product_img">
        </div>
        <div class="similar_product_text_div">
          Item Name
        </div>
      </a>
    </div>
    <div class="similar_products">
      <a href="#">
        <div class="similar_product_img_div">
          <img src="{{'coaster.jpg'|asset_url}}" class="similar_product_img">
        </div>
        <div class="similar_product_text_div">
          Item Name
        </div>
      </a>
    </div>
   </div>
</div>
  
<div id="artist_description_content" hidden>
  <h4>Artist Description</h4>
  <div class="artist_description_main"><sup><i class="fa fa-quote-left"></i></sup>Here the artist description will be displayed which will be fetched from excel Description.<sup><i class="fa fa-quote-right"></i></sup></div>
</div>
  
<div id="product_tags_content" hidden>
  <h4>Product Tags</h4>
  <a href="#">
      <div class="tag_main">
         Iphone 7 case cover
      </div>
  </a>
  <a href="#">
      <div class="tag_main">
         Case Cover
      </div>
  </a>
  <a href="#">
      <div class="tag_main">
         Always Deliver More Than Expected
      </div>
  </a>
  <a href="#">
      <div class="tag_main">
         Coasters
      </div>
  </a>
</div>

<div id="customized_product_content" hidden>
  Want a customized picture on this phone's case <a href="#">click here.</a>
</div> --> 

</div>

<div class="row"> 
{% if settings.sidebar_product_page == 'none' %}
{% comment %} -- Related Product -- {% endcomment %}
{% if settings.show_related_product %}
{% include 'related-product' %}
{% endif %}
{% endif %}
</div>

<script type="text/javascript">

  {% if product.available %} 
  //update price when changing quantity
  function updatePricing() {
    var regex = /([0-9]+[.|,][0-9]+)/g;
    var unitPriceText = jQuery('.product .detail-price').text().match(regex)[0];
    var unitPrice = unitPriceText.replace(/[.|,]/,'');
    var quantity = parseInt(jQuery('#quantity').val());
    var totalPrice = unitPrice * quantity;

    var totalPriceText = Shopify.formatMoney(totalPrice, "{{shop.money_format}}");
    totalPriceText = totalPriceText.match(regex)[0];
    
    var regInput = new RegExp(unitPriceText, "g");  
    var totalPriceHtml = jQuery('.product .detail-price').html().replace(regInput ,totalPriceText); 

    jQuery('.product .total-price span').html(totalPriceHtml);
  }
  jQuery('#quantity').on('change', updatePricing);
  {% endif %}

  // initialize multi selector for product
  $(window).load(function() {
    
    $(".qty-inner .qty-up").on("click", function() {
      var oldValue = $("#quantity").val(),
          newVal = 1;
          newVal = parseInt(oldValue) + 1;
          $("#quantity").val(newVal);
          updatePricing();
    });
    $(".qty-inner .qty-down").on("click", function() {
      var oldValue = $("#quantity").val();
      if (oldValue > 1) {
        newVal = 1;
        newVal = parseInt(oldValue) - 1;
        $("#quantity").val(newVal);
        updatePricing();
      }
    });

    /* selectCallback */
    var selectOptionsCallback = function(variant, selector) {
      
      if (variant) {
        var form = jQuery('#' + selector.domIdPrefix).closest('form');
        for (var i=0,length=variant.options.length; i<length; i++) {
          var radioButton = form.find('.swatch[data-option-index="' + i + '"] :radio[value="' + variant.options[i] +'"]');
          if (radioButton.size()) {
            radioButton.get(0).checked = true;
          }
        }
      }

      var add_to_cart = '#add-to-cart';
      var $price = '#purchase-' + selector.product.id[].toString() + ' .detail-price';
      if (variant && variant.available) {
        
        // Update variant image
        if (variant.featured_image) { 
          var originalImage = jQuery("#product-featured-image");
          var newImage = variant.featured_image;
          var element = originalImage[0];
          Shopify.Image.switchImage(newImage, element, function (newImageSizedSrc, newImage, element) {
            jQuery('#gallery-image img').each(function() {
              var grandSize = jQuery(this).attr('src');
              grandSize = grandSize.replace('small','grande');
              if (grandSize == newImageSizedSrc) {
                jQuery(this).parent().trigger('click');              
                return false;
              }
            });
          });   
        }
        
        // selected a valid variant
        $(add_to_cart).removeClass('disabled').removeAttr('disabled').html('Add To Cart'); // remove unavailable class from add-to-cart button, and re-enable button

        if(variant.compare_at_price == null){
          $($price).html('<span class="price">'+Shopify.formatMoney(variant.price, "{{shop.money_format}}")+'</span>');

          {% if settings.show_multiple_currencies %}
          /* Update currency */
            currenciesCallbackSpecial('#product-info span.money');
          {% endif %}
          
          }
          
        else {
            $($price).html('<span class="price-sale">'+Shopify.formatMoney(variant.price, "{{shop.money_format}}") + '</span>' + '<del class="price-compare">' + Shopify.formatMoney(variant.compare_at_price, "{{shop.money_format}}") + '</del>');

            {% if settings.show_multiple_currencies %}
            /* Update currency */
            currenciesCallbackSpecial('#product-info span.money');
            {% endif %}
            
          }
        } 
        else {
          $(add_to_cart).addClass('disabled').attr('disabled', 'disabled'); // set add-to-cart button to unavailable class and disable button
          var message = variant ? "{{'products.product.sold_out' | t }}" : "{{'products.product.unavailable' | t }}";
          $(add_to_cart).html(message);
          $($price).html('<span class="unavailable">' + message + '</span>');
          }

          if (variant && variant.inventory_quantity && variant.inventory_management == 'shopify') {
          jQuery("#stock").html(variant.inventory_quantity + ' {{'products.product.available' | t }}').parent().show(); 
          }
          else{
          jQuery("#stock").parent().hide(); 
          }
          {% if settings.show_product_sku %}
          if (variant && variant.sku) { 
          jQuery("#sku").html(variant.sku).parent().show(); 
          }
          else{
          jQuery("#sku").parent().hide(); 
          }
          {% endif %}
          };

          new Shopify.OptionSelectors("product-select-{{ product.id }}", { product: {{ product | json | remove:'\u003E' | remove:'\u003C' | remove:'\u00a0' }}, onVariantSelected: selectOptionsCallback, enableHistoryState: true });

          // Add label if only one product option
          {% if product.options.size == 1 and product.options.first != 'Title' %}
            $('.selector-wrapper:eq(0)').prepend('<h5>{{ product.options.first | escape }}</h5>');
          {% endif %}
                                                 
          // Hide selectors if we only have 1 variant and its title contains 'Default'.
          {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
            $('.selector-wrapper').hide();
          {% endif %}

      });
      <a href="whatsapp://send" data-text="Whatsapp to your friend {{ product.title }}, " data-href="http://{{ shop.domain }}{{ product.url }}" class="wa_btn wa_btn_s" style="display:none">Whatsapp</a>
</script>
<script type="text/javascript">

  {% if product.available %} 
  //update price when changing quantity
  function updatePricing() {
    var regex = /([0-9]+[.|,][0-9]+)/g;
    var unitPriceText = jQuery('.product .detail-price').text().match(regex)[0];
    var unitPrice = unitPriceText.replace(/[.|,]/,'');
    var quantity = parseInt(jQuery('#quantity').val());
    var totalPrice = unitPrice * quantity;

    var totalPriceText = Shopify.formatMoney(totalPrice, window.money_format);
    totalPriceText = totalPriceText.match(regex)[0];

    var regInput = new RegExp(unitPriceText, "g");  
    var totalPriceHtml = jQuery('.product .detail-price').html().replace(regInput ,totalPriceText); 

    jQuery('.product .total-price span').html(totalPriceHtml);
  }
  jQuery('#quantity').on('change', updatePricing);
  {% endif %}

  // initialize multi selector for product
  $(window).load(function() {
    
    $(".qty-inner .qty-up").on("click", function() {
      var oldValue = $("#quantity").val(),
          newVal = 1;
          newVal = parseInt(oldValue) + 1;
          $("#quantity").val(newVal);
          updatePricing();
    });
    $(".qty-inner .qty-down").on("click", function() {
      var oldValue = $("#quantity").val();
      if (oldValue > 1) {
        newVal = 1;
        newVal = parseInt(oldValue) - 1;
        $("#quantity").val(newVal);
        updatePricing();
      }
    });

    /* selectCallback */
    var selectOptionsCallback = function(variant, selector) {
      
      if (variant) {
        var form = jQuery('#' + selector.domIdPrefix).closest('form');
        for (var i=0,length=variant.options.length; i<length; i++) {
          var radioButton = form.find('.swatch[data-option-index="' + i + '"] :radio[value="' + variant.options[i] +'"]');
          if (radioButton.size()) {
            radioButton.get(0).checked = true;
          }
        }
      }

      var add_to_cart = '#add-to-cart';
      var $price = '#purchase-' + selector.product.id.toString() + ' .detail-price';
      if (variant && variant.available) {
        
        //Update variant image
        if (variant.featured_image) { 
          var originalImage = jQuery("#product-featured-image");
          var newImage = variant.featured_image;
          var element = originalImage[0];
          Shopify.Image.switchImage(newImage, element, function (newImageSizedSrc, newImage, element) {
            jQuery('#gallery-image img').each(function() {
              var grandSize = jQuery(this).attr('src');
              grandSize = grandSize.replace('small','grande');
              if (grandSize == newImageSizedSrc) {
                jQuery(this).parent().trigger('click');              
                return false;
              }
            });
          });   
        }
        
        // selected a valid variant
        $(add_to_cart).removeClass('disabled').removeAttr('disabled').html('Add To Cart'); // remove unavailable class from add-to-cart button, and re-enable button

        if(variant.compare_at_price == null){
          $($price).html('<span class="price">'+Shopify.formatMoney(variant.price, "{{shop.money_format}}")+'</span>');

          {% if settings.show_multiple_currencies %}
          /* Update currency */
            currenciesCallbackSpecial('#product-info span.money');
          {% endif %}
          } 
          else {
            $($price).html('<span class="price-sale">'+Shopify.formatMoney(variant.price, "{{shop.money_format}}") + '</span>' + '<del class="price-compare">' + Shopify.formatMoney(variant.compare_at_price, "{{shop.money_format}}") + '</del>');

            {% if settings.show_multiple_currencies %}
            /* Update currency */
            currenciesCallbackSpecial('#product-info span.money');
            {% endif %}
          }
        } 
        else {
          $(add_to_cart).addClass('disabled').attr('disabled', 'disabled'); // set add-to-cart button to unavailable class and disable button
          var message = variant ? "{{'products.product.sold_out' | t }}" : "{{'products.product.unavailable' | t }}";
          $(add_to_cart).html(message);
          $($price).html('<span class="unavailable">' + message + '</span>');
          }

          if (variant && variant.inventory_quantity && variant.inventory_management == 'shopify') {
          jQuery("#stock").html(variant.inventory_quantity + ' {{'products.product.available' | t }}').parent().show(); 
          }
          else{
          jQuery("#stock").parent().hide(); 
          }
          {% if settings.show_product_sku %}
          if (variant && variant.sku) { 
          jQuery("#sku").html(variant.sku).parent().show(); 
          }
          else{
          jQuery("#sku").parent().hide(); 
          }
          {% endif %}
          };

          new Shopify.OptionSelectors("product-select-{{ product.id }}", { product: {{ product | json | remove:'\u003E' | remove:'\u003C' | remove:'\u00a0' }}, onVariantSelected: selectOptionsCallback, enableHistoryState: true });

          // Add label if only one product option
          {% if product.options.size == 1 and product.options.first != 'Title' %}
            $('.selector-wrapper:eq(0)').prepend('<h5>{{ product.options.first | escape }}</h5>');
          {% endif %}
                                                 
                                                 // Hide selectors if we only have 1 variant and its title contains 'Default'.
          {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
            $('.selector-wrapper').hide();
          {% endif %}
      });
</script>

<!--Script to show the delivery date starts  -->
<script>
  var monthNames = ["January", "February", "March", "April", "May", "June",
  "July", "August", "September", "October", "November", "December"];
  
  var numberOfDaysToAdd=5;
  
  var today = new Date();
  today.setDate(today.getDate() + numberOfDaysToAdd); 
  var date = today.getDate();
  var month=today.getMonth();
  var year=today.getFullYear();
  var fullMonth=monthNames[month];
  function date_suffix(date)
  {
    var j = date % 10;
    var k = date % 100;
    if (j == 1 && k != 11) 
    {
        return date + "st";
    }
    if (j == 2 && k != 12) 
    {
        return date + "nd";
    }
    if (j == 3 && k != 13) 
    {
        return date + "rd";
    }
    return date + "th";
 }
 $('#delivery_date').html(date_suffix(date)+' '+fullMonth+','+year);
</script>
<!--Script to show the delivery date ends -->
<script>
  $(document).ready(function(){
     $("#product_description_content").html($("#product_specification_content").html());
     $("#customized_product_div").html($("#customized_product_content").html()); 
     $("#product_review_content").css("display","none");
     $("#product_description_bar li").click(function(){
       if($(this).attr("id") == "product_review"){
         $("#product_description_bar li.active").removeClass();
         $("#product_description_content").html("");
       	$("#product_review_content").css("display","block");
       }else{
         $("#product_review_content").css("display","none");
         $("#product_description_bar li.active").removeClass();
         $(this).addClass("active");
         $("#product_description_content").html("");
         var content_div='#'+$(this).attr('id')+'_content';
         $("#product_description_content").html($(content_div).html());
       }
     });
  });

</script>
  
<script>
  $(".similar_products").filter(function(){
        return $(this).find('img[src="no"]').length == 1;
    }).hide();
</script>


<style>
  .selector-wrapper select{
    width: 100%;
    background: #f7b02e;
    font-weight: bolder;
  }
  #customify-link{
    background:#f7b02e;
  }
  #customized_product_div{
    margin-top:35px;
  }
</style>
<!-- <div id='judgeme_product_reviews' class='jdgm-widget jdgm-review-widget' data-product-title='{{ product.title }}' data-id='{{ product.id }}'>{{ product.metafields.judgeme.widget }}</div> -->